<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SpotiftyClientConfig" type="WinamptoSpotifyWinForms.Config.CustomConfigLoader, SpotifyApiConfig" />
	</configSections>
	<appSettings>
		<add key="ClientID" value="ClientID"/>
		<add key="SecretID" value="SecretID"/>
		<add key="UserID" value="UserID"/>
		<add key="PlaylistBaseUrl" value="https://api.spotify.com/v1/users/{UserId}/playlists/"/>
		<add key="TrackSearchBaseUrl" value="https://api.spotify.com/v1/search/?"/>
		<add key="PlaylistAddTrackBaseUrl" value="https://api.spotify.com/v1/playlists/{playlist_id}/tracks/?"/>
		<add key="ForgeCallbackUrl" value="https://fake.com/api/forge/callback/oauth"/>
		<add key="ForgeScope" value="user-read-private user-read-email playlist-modify-public playlist-modify-private"/>
		<add key ="TokenUrl" value="https://accounts.spotify.com/api/token"/>
		<add key="AuthorizationUrl" value="https://accounts.spotify.com/authorize/?" />
	</appSettings>
</configuration>
